<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uestc.mapper.UserMapper">
    <update id="update">
        update user
        <set>
            <if test="nickName != null and nickName != ''">
                nickName = #{nickName},
            </if>
            <if test="imgURL != null and imgURL != ''">
                imgURL = #{imgURL},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone}
            </if>
        </set>
        where openid = #{openid}
    </update>
</mapper>